/*index*/
nav .employ-nav{
    border-bottom: 3px solid #282828;
}
nav .employ-nav ul .active{
    background-color:#282828;
}
.shop-navbg .shop-navlist a:hover,.shop-navact {
    color:#fff;
    background-color:#282828;
}


.shop-main .shop-gybtn {
    background: url(../../images/shop/shop-gybtnbg.png) no-repeat;
}

.g-taskmainlist li .g-toshopbtn:hover {
    border-color: #282828;
    color: #fff;
    background: url(../../images/toshopbtnh.png) no-repeat 14px center #282828;
}