body{
    background: #fff!important;
}
.mshop-filter.service-filter{
    height: auto;
}
.service-filter .classify{
    border-bottom: 1px dashed #cccccc;
}
.service-filter .title{
    color: #000;
    font-size: 14px;
    padding: 4px 10px 4px 0;
    width: 90px;
    display: inline-block;
}
.service-thumbs .pager>li>a,
.service-thumbs .pagination>li>a{
    border-color: #dcdcdc;
    color: #656a54;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover
{
    background: #f6f6f6;
    border-color: #dcdcdc;
    color: #656a54;
}
.pager>li>a,
.pagination>li>a{
    background: #fff;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    border-top-left-radius: 4px!important;
    border-bottom-left-radius: 4px!important;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 4px!important;
    border-bottom-right-radius: 4px!important;
}
a:hover{
    text-decoration: none;
}

/*资讯中心*/
.consult-nav{
    background: #f2f2f2;
    margin-top: 29px;
    font-size: 0;
}
.consult-nav a{
    display: inline-block;
    width: 90px;
    height: 56px;
    text-align: center;
    font-size: 14px;
    line-height: 56px;
    color: #000000;
}
.consult-nav a:hover{
    background: #ffa800;
    color: #fff;
}
.consult-nav a.active{
    background: #ffa800;
    color: #fff;
}
.consult-main{
    max-height: 1620px;
    overflow: hidden;
    padding-left: 75px;
}
.consult-main .consult-list{
    position: relative;
    border-left: 1px solid #eeeeee;
}
.consult-main .consult-list .consult-list-item{
    position: relative;
    margin-top: 30px;
    height: 132px;
    cursor: pointer;
    margin-left: -75px;
}
.consult-main .consult-list .consult-item-l{
    width: 168px;
    height:132px;
    padding:1px 0 0  26px;
}
.consult-main .consult-list .consult-item-l .item-radius{
    border: 1px solid #e0e0e0;
    background: #f8f8f8;
    width: 98px;
    height:98px;
    padding-top: 23px;
    padding-bottom: 18px;
    text-align: center;
    border-radius: 50%;
}
.consult-main .consult-list .consult-item-l .item-radius .date-month{
    font-size: 12px;
    color: #999999;
}
.consult-main .consult-list .consult-item-l .item-radius .date-num{
    color: #282828;
    font-size: 42px;
    font-weight: bolder;
    line-height: 0.6;
}
.consult-main .consult-list .consult-item-r{
    position: relative;
    height:130px;
    padding-left: 33px;
    padding-top: 30px;
   /* width: 1028px;*/
    width:calc( 100% - 168px );
    width:-webkit-calc( 100% - 168px );
    width:-moz-calc( 100% - 168px );
}
.consult-main .consult-list .consult-item-r .content{
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    border: 1px solid #eeeeee;
    padding-left: 33px;
    padding-top: 30px;
}
.consult-main .consult-list .consult-item-r .content .title{
    margin: 0 0 10px 0;
}
.consult-main .consult-list .consult-item-r .content .title a{
    font-size: 18px;
    color: #000;
}
.consult-main .consult-list .consult-item-r .content .details a{
    font-size: 12px;
    color: #666666;
}
.consult-main .consult-list .consult-item-r .content span{
    color: #999999;
    margin-right: 43px;
}

.consult-main .consult-list .consult-item-r .arrow {
    position: absolute;
    width: 16px;
    height: 100%;
    left: -10px;
    top: 0px;
}
.consult-main .consult-list .consult-item-r .feedback-sanjiao {
    top: 60px;
}
.consult-main .consult-list .consult-item-r .arrow-sanjiao {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent transparent #ffffff;
    border-width: 16px;
    right: 0;
    top: 13px;
    position: absolute;
    z-index: 2;
    -webkit-transform: rotate(169deg);
    -moz-transform: rotate(169deg);
    -o-transform: rotate(169deg);
    transform: rotate(169deg);
}
.consult-main .consult-list .consult-item-r .feedback-sanjiao-big {
    top: 58px;
}
.consult-main .consult-list .consult-item-r .arrow-sanjiao-big {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent transparent #dddddd;
    border-width: 18px;
    right: -1px;
    top: 11px;
    position: absolute;
    -webkit-transform: rotate(169deg);
    -moz-transform: rotate(169deg);
    -o-transform: rotate(169deg);
    transform: rotate(169deg);
}
.consult-main .consult-list .consult-list-item:hover .consult-item-l .item-radius{
    border: 1px solid #ffa800;
    background: #ffa800;
}
.consult-main .consult-list .consult-list-item:hover .consult-item-l .item-radius .date-month,
.consult-main .consult-list .consult-list-item:hover .consult-item-l .item-radius .date-num
{
    color: #fff;
}
.consult-main .consult-list .consult-list-item:hover .arrow-sanjiao-big
{
    border-color: transparent transparent transparent #ffa800;
}
.consult-main .consult-list .consult-list-item:hover .consult-item-r .content{
    border-color: #ffa800;
}
.mshop-filter a .task-ico{
    display: inline-block;
    width: 18px;
    height:18px;
    vertical-align: -4px;
    margin-right: 3px;
    background: url("../../images/index/task-ico.png") no-repeat;
}
.mshop-filter a .task-ico1{
    background-position: -3px -3px;
}
.mshop-filter a .task-ico2{
    background-position: -27px -3px;
}
.mshop-filter a .task-ico3{
    background-position: -51px -3px;
}
.mshop-filter a .task-ico4{
    background-position: -75px -3px;
}
.mshop-filter a:hover .task-ico1{
    background-position: -3px -26px;
}
.mshop-filter a:hover .task-ico2{
    background-position: -27px -26px;
}
.mshop-filter a:hover .task-ico3{
    background-position: -51px -26px;
}
.mshop-filter a:hover .task-ico4{
    background-position: -75px -27px;
}

/*任务大厅*/
.task-list li{
    width:calc( 100% / 4 );
    width:-webkit-calc( 100% / 4 );
    width:-moz-calc( 100% / 4 );
    padding: 0 8px;
    margin-bottom: 15px;
}
.task-filter a.mactive .task-ico1{
    background-position: -3px -26px;
}
.task-filter a.mactive .task-ico2{
    background-position: -27px -26px;
}
.task-filter a.mactive .task-ico3{
    background-position: -51px -26px;
}
.task-filter a.mactive .task-ico4{
    background-position: -75px -27px;
}
.task-list .taskList-item .taskList-item-serwrap .taskList-item-serimg{
    background: #f6f6f6;
    padding: 20px;
}
.task-list .taskList-item .taskList-item-serwrap .taskList-item-serimg .title a{
    color: #000000;
    font-size: 16px;
}
.task-list .taskList-item .taskList-item-serwrap .taskList-item-serimg .state{
    margin-bottom: 0;
}
.task-list .taskList-item .taskList-item-serwrap .taskList-item-serimg .state .top,
.task-list .taskList-item .taskList-item-serwrap .taskList-item-serimg .state .worry
{
    padding: 5px 6px;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    vertical-align: 2px;
}
.task-list .taskList-item .taskList-item-serwrap .taskList-item-serimg .state .top{
    background: #ffa800;
}
.task-list .taskList-item .taskList-item-serwrap .taskList-item-serimg .state .worry{
    background: #f62121;
}
.task-list .taskList-item .taskList-item-serwrap .taskList-item-serimg .state .money{
    margin-left: 15px;
    color: #ffa800;
    font-size:18px;
}
.task-list .taskList-item .taskList-item-serwrap .taskList-item-serimg .state .collect{
    float: right;
    width:20px;
    height:18px;
    cursor: pointer;
    margin-top: 4px;
    display: none;
    background: url("../../images/index/collect.png");
}
.taskGroup .index-service .index-serwrap:hover .taskList-item-serimg .state .collect{
    display: block;
}
.task-list .taskList-item .taskList-item-serwrap .taskList-item-serimg .state .collect:hover{
    background: url("../../images/index/collect-red.png");
}
.task-list .taskList-item .taskList-item-serwrap .taskList-item-serimg .state .collect.active{
    background: url("../../images/index/collect-red.png");
}
.task-list .taskList-item .taskList-item-serwrap .taskList-item-serinfo{
    padding: 20px;
}
.task-list .taskList-item .taskList-item-serwrap .taskList-item-serinfo .content{
    margin-bottom: 20px;
}
.task-list .taskList-item .taskList-item-serwrap .taskList-item-serinfo .content a{
    display: block;
    height: 36px;
    overflow: hidden;
    color: #666666;
}
.task-list .taskList-item .taskList-item-serwrap .taskList-item-serinfo .timer{

}
.task-list .taskList-item .taskList-item-serwrap .taskList-item-serinfo .timer .task-ico{
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: -4px;
    margin-right: 5px;
    background: url(../../images/index/task-ico.png) no-repeat -3px -3px;

}
.task-list .taskList-item .taskList-item-serwrap .taskList-item-serinfo .timer .task-ico1{
    background-position: -3px -3px;
}
.task-list .taskList-item .taskList-item-serwrap .taskList-item-serinfo .timer .task-ico2{
    background-position: -27px -3px;
}
.task-list .taskList-item .taskList-item-serwrap .taskList-item-serinfo .timer .task-ico3{
    background-position: -51px -3px;
}
.task-list .taskList-item .taskList-item-serwrap .taskList-item-serinfo .timer .task-ico4{
    background-position: -75px -3px;
}
.task-list .taskList-item .taskList-item-serwrap .taskList-item-serinfo .taskList-footer{
    color: #bbbbbb;
    font-size: 12px;
}

.index-service li {
    margin-bottom: 20px;
}
.showSideDown{
    height: 70px;
    overflow: hidden;
}
.taskGroup .index-service .index-serwrap{
    height: 282px;
}

.show-next{
    cursor: pointer;
}
.clickDownList{
    height: 70px;
    overflow: hidden;
}
.service-type, .service-area, .serivcelist-type, .success-area {
    display: block;
}