body {
    /*background-color: #fff;*/
    padding: 0;
    margin: 0;
    font-family: "微软雅黑", "SimSun", "宋体", "Arial Narrow";
}
ul {
    margin: 0;
    list-style: none;
}
a:hover {
    cursor: pointer;

}
.cor-gray99 {
    color: #999;
}
.cor-gray33 {
    color: #333;
}
.cor-gray66 {
    color: #666;
}
.cor-gray24 {
    color: #242424;
}
.cor-orange {
    color: #ffa800;
}
a.hovA:hover{
    color: #ffa800;
}
.text-size12 {
    font-size: 12px;
}
.text-size14 {
    font-size: 14px;
}
.text-size16 {
    font-size: 16px;
}
.text-size18 {
    font-size: 18px;
}
.p-space {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media screen and (min-width: 1200px) {
    .container{
        width: 1230px;
    }
}
.header-bg {
    background-color: #282828;
}
.header-nav {
    height: 80px;
    line-height: 80px;
}
.div-nav {
    position: relative;
}
.div-nav li {
    float: left;
}
.div-nav li a {
    padding: 22px 12px;
}
 .div-nav .hActive a {
     color:#ffa800 ;
 }
.header-nav a {
    color: #fff;
    font-size: 14px;
}
.header-nav a:hover {
    text-decoration: none;
    color: #ffa800;
}
.div-hover {
    border-bottom: 3px solid #ffa800;
    position: absolute;
    bottom: 10px;
}
.header-info {
    padding-left: 52px;
    padding-right: 26px;
    position: relative;
}
.header-infodrop {
    position: absolute;
    background-color: #fff;
    top:62px;
    left: 41px;
    border: 1px solid #eee;
    z-index: 3;
    width: 457px;
    display: none;
}
.header-infodrop:hover {
    display: block;
}
.header-droptitle {
    width:109px;
    text-align: center;
    padding-top: 11px;
}
.header-infodrop ul {
    border-left:1px solid #eee;
    padding-left: 25px;
    padding-right: 36px;
    margin-top: 26px;
    margin-bottom: 5px;
}
.header-infodrop li{
    border-bottom: 1px dashed #ccc;
    width: 284px;
    height: 44px;
    line-height: 44px;
}
.header-infodrop li:first-child{
    margin-top: -16px;
}
.header-infodrop li:last-child{
    border-bottom: none;
}
.header-infodrop li a{
    color: #333;
    padding: 0 20px;
    border-right:1px solid #ddd;
    font-size: 12px;
}
.header-infodrop li a:first-child{
    padding-left: 7px;
}
.header-infodrop li a:last-child{
    border-right: none;
}
.header-droptitle a {
    display: block;
    color: #333;
    line-height: 44px;
}
.header-dropul {
    display: none;
}
.header-dropul:first-of-type {
    display: block;
}
.header-infolink {
    display: block;
}
.header-infolink:hover+.header-infodrop {
    display: block;
}
.header-right li{
    font-size: 12px;
    float: left;
    position: relative;
}
.header-right li a{
    border-right: 1px solid #666;
    padding: 0 15px;
}
.header-right .header-search a{
    color: #ffa800;
}
.header-login {
    background-color: #ffa800;
    border-radius: 2px;
    width:44px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    margin-left: 13px;
    margin-top: 29px;
}
.header-nav .header-login:hover {
    color: #fff;
}
.header-right {
    padding-top: 30px;
}
.header-right li {
    height: 19px;
    line-height: 19px;
    position: relative;
}
.header-right li .fom-search{
    position: absolute;
    top: -8px;
   /* left: -134px;*/
    width: 0%;
    right: 3px;
    height:34px;
    float: right;
    min-width: 28px;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
}
.header-right li .fom-search .inputx{
    background: none;
    border:1px solid #dddddd;
    border-radius: 2px!important;
    position: absolute;
    right: 0;
}
.header-right .header-search .fom-search .fa-search{
    font-size: 16px;
    border: 0;
    background: none;
    color: #ffa800;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 28px;
    height: 34px;
    background: #282828;
}
.header-address {
    position: absolute;
    border-radius: 6px;
    background-color: #fff;
    width: 233px;
    border:1px solid #eee;
    padding: 16px 30px;
    left: -60px;
    display: none;
    z-index: 3;
}
.header-address:hover {
    display: block;
}
.header-address li {
    border-bottom: 1px dashed #ccc;
    line-height: 48px;
    height: 48px;
    float: none;
}
.header-address li:last-child {
    border-bottom: none;
}
.header-address li a {
    color: #60686e;
    border-right: none;
    padding: 0;
    /*margin-right: 43px;*/
    display: inline-block;
    /* margin-right: 43px; */
    width: 54px;
    text-align: center;
}
.header-addlink {
    padding-bottom: 20px;
    display: block;
    margin-bottom: 14px;
}
.header-right .header-adddrop {
    height: 34px;
}
.header-adddrop:hover .header-address {
    display: block;
}
.header-adddrop:hover .header-addlink {
    color: #ffa800;
}

.banner-bar {
    /*max-width: 714px;*/
    width: calc( 100% - 468px - 18px);
    height:437px;
}
.banner-bar img{
    width: 100%;
    height: 437px!important;
}
.banner-right {
    position: relative;
    width:468px;
}
.banner-list {
    background-color: #fff;
    width:468px;
    height: 255px;
    padding: 0 33px;
    position: absolute;
    left: 0;
    top:0;
    overflow: hidden;
    border: 1px solid #f1f1f1;
}
.banner-listhead {
    border-bottom: 1px solid #ebebeb;
    height: 56px;
    line-height: 55px;
    color: #666;
    font-size:16px;
}
.banner-listhead a{
    font-size: 12px;
    color: #666;
}
.banner-list li{
    height: 56px;
    line-height: 55px;
    border-bottom: 1px dashed #ccc;
    color: #333;
}
.banner-list .banner-litime{
    margin-left: 24px;
    padding: 2px 4px;
}
.banner-list li:first-child .banner-litime {
    color: #fff;
    background-color: #ffa800;
    border-radius: 2px;
}
.banner-listhide {
    height: 170px;
    overflow: hidden;
    position: relative;
}
.banner-listhide .renav{
    position: absolute;
    margin-top: 0;
}
.banner-listdown {
    position: absolute;
    bottom: 2px;
    right: 18px;
    color: #c0c0c0;
}
.banner-lititle {
    width: 287px;
}
.banner-headline {
    margin-top: 275px;
    width:468px;
    height:162px;
    background-color: #fff;
    border: 1px solid #f1f1f1;
}
.banner-headline img{
    width:120px;
    height:120px;
    margin-top: 21px;
    margin-left: 19px;
}
.banner-linewrap {
    padding-left: 20px;
    padding-top: 18px;
    width:288px;
}
.banner-linebor {
    border-bottom: 1px dashed #ccc;
}
.banner-linewrap a:hover{
    cursor: pointer;
}
.index-service ul{
    margin: 0 -10px;
}
.index-service li{
    width:20%;
    padding: 0 10px;
    float: left;
}
.index-service .index-serwrap {
    box-shadow: 0 5px 10px 0px #f1f1f1;
}
.index-serimg {
    position: relative;
    overflow: hidden;
}
.index-serimg img{
    width: 100%;
    height: 224px;
}
.index-serimgp {
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.2);
    color: #fff;
    width: 100%;
    padding-left: 20px;
    font-size: 12px;
    height: 62px;
    display: none;
}
.index-serinfo {
    height: 74px;
    padding:0 20px;
}

/*服务商*/
.index-serinfo i{
    display: inline-block;
    width: 14px;
    height:14px;
    margin-left: 2px;
    vertical-align: -2px;
    /*background: url("../images/index-icon.png") no-repeat 0 -18px;*/
}
.bank-attestation{
    background: url(../../images/bank-c.png) center no-repeat;
}
.bank-attestation-no{
    background: url(../../images/bank-h.png) center no-repeat;
}
.cd-card-attestation{
    background: url(../../images/realname-c.png) center no-repeat;
}
.cd-card-attestation-no{
    background: url(../../images/realname-h.png) center no-repeat;
}
.email-attestation{
    background: url(../../images/email-c.png) center no-repeat;
}
.email-attestation-no{
    background: url(../../images/email-h.png) center no-repeat;
}
.alipay-attestation{
    background: url(../../images/pay-c.png) center no-repeat;
}
.alipay-attestation-no{
    background: url(../../images/pay-h.png) center no-repeat;
}
.com-attestation{
    background: url(../../images/com-c.png) center no-repeat;
}
.com-attestation-no{
    background: url(../../images/com-h.png) center no-repeat;
}

.index-case {

}
.index-casebig {
    width:452px;
    position: relative;
}
.index-casebig img{
    height: 300px;
    width: 100%;
}
.index-casebig img{
    height: 300px;
    width: 100%;
}
.index-caseinfo {
    position: absolute;
    width: 100%;
    height: 58px;
    color: #fff;
    line-height: 58px;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    background: rgba(0,0,0,0.2);
    padding:0 20px;
}
.index-casetag {
    padding-left: 20px;
    background: url("../../images/index/case-tag.png") no-repeat 0 center;
}
.index-casetagray {
    padding-left: 18px;
    background: url("../../images/index/case-taggray.png") no-repeat 0 center;
}
.index-cardwrap {
    margin-right: -20px;
    padding-left: 10px;
}
.index-card {
    padding: 15px 24px 0;
    float: left;
}
.index-cardimg {
    display: block;
    width:194px;
    height: 194px;
    position: relative;
}
.index-cardimg img{
    position: absolute;
    width: 184px;
    height: 184px;
    top:0px;
    left: 0px;
    transition:all 0.5s ease-out;
}
.index-cardimg .index-cardimg3 {
    top:9px;
    left: 9px;
}
.index-cardimg:hover .index-cardimg2{
    top:9px;
    left: 9px;
}
.index-cardimg:hover .index-cardimg3{
    top:18px;
    left: 18px;
}
.index-cardinfo {
    padding: 0 22px 10px;
}
.index-cardinfo p{
    border-bottom: 1px solid #333;
    padding: 10px 0;
}
.index-card:nth-child(2) .index-cardimg img{
    top:10px;
    left: 0;
}
.index-card:nth-child(2) .index-cardimg .index-cardimg3{
    top:0;
    left: 10px;
}
.index-card:nth-child(2) .index-cardimg:hover .index-cardimg2{
    top:0px;
    left: 10px;
}
.index-card:nth-child(2) .index-cardimg:hover .index-cardimg3{
    top:-10px;
    left: 20px;
}


.index-barragebg {
    background: url("../../images/index/barragebg.jpg") no-repeat center #42403c;
}
.index-barrage {
    height: 256px;
    position: relative;
    overflow: hidden;
}
.barrage{position: absolute;bottom:70px;right:-500px;display: inline-block;width: 500px;z-index: 10}
.barrage_box{padding-right: 8px; height: 40px;display: inline-block;transition: all .3s;}
.barrage_box .portrait{ display: inline-block;margin-top: 4px; margin-left: 4px; width: 32px;height: 32px;overflow: hidden;}
.barrage_box .portrait img{width: 100%;height: 100%;}
.barrage_box div.p a{ margin-right: 2px; font-size: 14px;color: #fff;line-height: 40px;margin-left: 18px; }
.barrage_box div.p a:hover{text-decoration: underline;}
.barrage_box .close{visibility: hidden;opacity: 0; text-align: center; width:25px;height: 25px;margin-left: 20px;margin-top:8px; }
.barrage_box:hover .close{visibility:visible;opacity: 1;}
.barrage_box .close a{display:block;}
.barrage_box .close .icon-close{font-size: 14px;color:rgba(255,255,255,.5);display: inline-block;margin-top: 5px; }
.barrage .z {float: left !important;}
.barrage  a{text-decoration:none;}



.device {
    margin: 0 -20px;
}
.device .index-item {
    box-shadow: 0 5px 10px 0px #f1f1f1;
}
.device .index-item .index-serimg {
    padding-left: 20px;
}
.address-ico {
    padding-left: 14px;
    background: url("../../images/address-ico.png") no-repeat 0 center;
    margin-left: 10px;
}
section{
    min-height: 817px!important;
}
.device-link a{
    display: inline-block;
    border: 1px solid #1c2021;
    height: 38px;
    line-height: 36px;
    color: #1c2021;
    width: 138px;
    border-radius: 4px;
}
.device-link a:link{
    text-decoration: none;
}
.device-link a:hover{
    background: #1c2021;
    color: #fff;
}
.device-img {
    position: relative;
    display: block;
    overflow: hidden;
}
.device-img p{
    position: absolute;
    text-align: center;
    color: #fff;
    width: 100%;
    top:-35px;
    transition: all 0.5s;
}
.device-img:hover p{
    top:0;
}
.device-img span{
    display: inline-block;
    background-color: rgba(0,0,0,0.3);
    width: 68px;
    height: 35px;
    line-height: 34px;
}


.index-flinkbg {
    background-color: #f8f8f8;
}
.index-flinkbg p{
    float: left;
    width: 133px;
    text-align: center;
    height:71px;
    line-height: 71px;
}
.index-flinkbg img{
    max-width: 120px;
    max-height:60px;
}

.ifooter-bg {
    background-color: #1c2021;
    color: #fff;
    font-size: 12px;
}
.ifooter-bg a{
    color: #fff;
    margin-right: 26px;
}
.ifooter-about {
    line-height: 46px;
    position: relative;
}
.ifooter-about a{
    display: inline-block;
    width: 20px;
    height: 18px;
    margin-left: 24px;
    margin-right: 10px;
    vertical-align: -4px;
    overflow: hidden;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;

}
.ifooter-about a i{
    display: inline-block;
    width: 53px;
    height: 33px;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}
.ifooter-about .ifooter-wx i{
    background: url("../../images/ifooter-about.png") no-repeat 0 1px;
}
.ifooter-about .ifooter-qq i{
    background: url("../../images/ifooter-about.png") no-repeat 0 -21px;
}
.ifooter-about .ifooter-wb i{
    background: url("../../images/ifooter-about.png") no-repeat 0 -45px;
}

.ifooter-about .ifooter-wx:hover i{
    margin-left: -29px;
}
.ifooter-about .ifooter-qq:hover i{
    margin-left: -29px;
}
.ifooter-about .ifooter-wb:hover i{
    margin-left: -29px;
}



.sidefix-onep,.sidefix-put,.sidefix-state{
    width: 128px;
    height: 36px;
    line-height: 36px;
    position: fixed;
    right: 0;
    z-index: 99;
    border-radius: 18px;
    color: #fff!important;
    text-align: center;
    transition: margin-right 0.5s;
}
.sidefix-onep {
    background: url("../../images/sidefix-onep.png") no-repeat 14px center #ddd;
    margin-right: -90px;
    bottom: 680px;
}
.sidefix-onep:hover {
    background: url("../../images/sidefix-oneph.png") no-repeat 14px center #1c2021;
    margin-right: -30px;
    text-decoration: none;
}
.sidefix-put {
    background: url("../../images/sidefix-put.png") no-repeat 14px 10px #ddd;
    margin-right: -90px;
    bottom: 632px;
}
.sidefix-put:hover {
    background: url("../../images/sidefix-puth.png") no-repeat 14px 10px #1c2021;
    margin-right: -30px;
    text-decoration: none;
}
.dn,.u-pop {
    display: none;
}
/*.go-top .u-hov{
    background-image: url(../../images/go-top-wordpressgrey.png);
}*/
.go-top {
    position: fixed;
    bottom: 180px;
    right: 20px;
    width: 46px;
    z-index: 999;
}

.go-top .u-hov {
    display: block;
    width: 46px;
    height: 46px;
    /*overflow: hidden;*/
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;
}

.go-top a:last-child {
    margin-bottom: 0;
}

.go-top .go {
    background-position: 0 -91px;
    transition: all 0.5s;
}

/*.go-top .go:hover {
    background-position: -48px -227px;
}

.go-top .feedback {
    background-position: 0 -46px;
}

.go-top .feedback:hover {
    background-position: -48px -454px;
}

.go-top .uc-2vm {
    background-position: 0 0;
}*/

/*.go-top .uc-2vm:hover {
    background-position: -48px -408px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;
}*/

.go-top .u-pop {
    position: absolute;
    right: 60px;
    top: 0;
    width: 243px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, .1);
    background: #fff;
    border: 1px solid #e3e3e3;
    padding: 16px 11px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;
}

.go-top .dnd {
    position: absolute;
    right: 60px;
    top: 0;
    width: 240px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, .1);
    background: #fff;
    border: 1px solid #e3e3e3;
    padding: 16px 11px;

}

.go-top .u-pop .logo-2wm-box {
    position: relative;
}

.go-top .iss-ico1 {
    background: url("../../images/iss-ico.png") no-repeat 0 0;
    padding-left: 32%;
}
.go-top .arrow-sanjiao{
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent transparent #ffffff;
    border-width: 6px;
    right: 3px;
    top: 13px;
    position: absolute;
    z-index: 2;
}
.go-top .arrow-sanjiao-big{
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent transparent #dddddd;
    border-width: 8px;
    right: -1px;
    top: 11px;
    position: absolute;
}
.go-top .feedback-sanjiao{
    top: 60px;
}
.go-top .feedback-sanjiao-big{
    top:58px;
}
.go-top .arrow{
    position: absolute;
    width: 16px;
    height: 100%;
    right: -15px;
    top: 0px;
}


/*威客商城*/
.mshop-nav {
    height: 52px;
    line-height: 52px;
}
.mshop-nav .header-right {
    padding-top: 17px;
}
.mshop-nav .header-login {
    margin-top: 16px;
}
.div-hover {
    bottom: 0;
}
.mshop-bar {
    background-color: #b6afa3;
}
.mshop-bar img {
    max-width: 100%;
    max-height: 160px;
    width: 100%;
    height: 100%;
}
.mshop-filter {
    background-color: #f8f8f8;
    height: 70px;
    line-height: 70px;
}
.mshop-filter a{
    color: #000;
    font-size: 14px;
    padding: 4px 15px;
    /*margin-right: 24px;*/
}
.mshop-filter .cor99 a{
    color: #999;
}
.mshop-filter .mg24{
    margin-right: 24px;
}
.mshop-filter a:hover{
    background-color: #ffa800;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
}
.mshop-filter .mactive{
    background-color: #ffa800;
    color: #fff;
    border-radius: 4px;
}
.mshop-sort a {
    margin-right: 24px;
    color: #000;

}
.mshop-sort a i{
    font-size: 12px;
    color: #999;
}
.mshop-device .device{
    min-height: 346px;
}
.mshop-sortbtn,.mshop-sortinp {
    background: none;
    border:none!important;
}

/*成功案例*/
.mcase-list ul {
    margin: 0 -10px;
}
.mcase-list .index-cardinfo {
    padding-left: 16px;
    padding-right: 16px;
}
.mcase-list li{
    width: 20%;
    padding: 0 10px 20px;
}
.mcase-li {
    height: 298px;
    background-color: #f8f8f8;
    padding: 20px;
}
.mcase-li img{
    height: 184px;
    width: 100%;
}



.header-bg .state {
   /* width: 40px;
    height: 40px;*/
    float: right;
   /* margin: 6px 0px;*/
    position: relative;
}
.header-bg .state .login {
    position: absolute;
    width: 385px;
    height: 180px;
    background: url(../../images/mb1/bg5.png) no-repeat 25px center #fff;
    z-index: 222;
    bottom: -195px;
    right: 0;
    top: 63px;
    padding-left: 147px;
    padding-top: 30px;
    box-shadow: 0px 0px 5px #dcdcdc;
    display: none;
}
.header-bg .state .login-end {
    width: 295px;
    height: 209px;
    bottom: -225px;
    background: #fff;
    padding: 0;
}
.header-bg .state .login .foc-ewm-arrow1 {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #dedede;
    position: absolute;
    top: -11px;
    right: 2%;
}
.header-bg .state .login .foc-ewm-arrow2 {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    top: -10px;
    right: 2%;
}
.header-bg .state .login-end .bd {
    padding: 25px;
    border-bottom: 1px solid #eceff3;
}
.header-bg .state .login-end .img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}
.header-bg .state .login-end .ostate {
    margin-left: 100px;
}

.header-bg .state .login a {
    display: block;
    width: 208px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    background: #ffa800;
    margin-top: 10px;
    border: 1px solid #ffa800;
}
.p-space {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.header-bg .state .login-end .ostate a {
    width: auto;
    height: auto;
    line-height: normal;
    background: #fff;
    border: 0;
    margin-top: 7px;
    text-align: left;
    color: #404040;
    font-size: 14px;
}
.header-bg .state .login-end .ostate a:nth-child(3) {
    color: #ffa800;
    font-size: 12px;
}
.header-bg .state .login-end .usercenter {
    padding: 20px;
}
.header-bg .state .login-end .usercenter a {
    margin-top: 0;
    width: 100%;
}
.header-bg .state .userIco{
    display: inline-block;
    width: 30px;
    height: 27px;
    background: url(../../images/taskbar3.png) no-repeat center 10px;
    vertical-align: text-bottom;
}
.header-bg .state:hover .login{
    display: block;
}
.header-bg .state:hover .userIco{
    background: url(../../images/taskbar4.png) no-repeat center 10px;
}
.header-bg .dropdown-list li{
    float: none;
}
.header-bg .search-right{
    min-width: 98px!important;
    width: 98px;
}
.header-bg .search-right li a{
    border-right: 0;
}

.sidefix-state{
    background: url(../../images/sidefix-state.png) no-repeat 14px 10px #ddd;
}
.sidefix-state:hover{
    background: url(../../images/sidefix-state1.png) no-repeat 14px 10px #000;
}
.go-top{
    right: 0px;
    width:100px;
    bottom: 410px;
    display: none;
}
.go-top .u-hov{
    border-radius: 18px;
    width: 128px;
    height: 36px;
    line-height: 36px;
    margin-bottom: 10px;
    transition: right 0.5s;
    position: relative;
    right: -63px;

    padding-left:38px;
    background: #ddd;
}
.go-top .u-hov .cor-white{
    color: #fff;
}

.go-top .uc-2vm{
    background: url("../../images/gogo.png") no-repeat 10px 2px #ddd;
}
.go-top .uc-2vm:hover {
    width: 128px;
    text-decoration: none;
    right: 0;
    background: url("../../images/gogo.png") no-repeat -22px 2px #000;
}
.go-top .feedback{
    background: url("../../images/gogo.png") no-repeat 10px -31px #ddd;
}
.go-top .feedback:hover {
     width: 128px;
     text-decoration: none;
     right: 0;
    background: url("../../images/gogo.png") no-repeat -22px -31px #000;
}
.go-top .go{
    color: #fff;
    background: url("../../images/gogo.png") no-repeat 10px -61px #ddd;
}
.go-top .go:hover {
    width: 128px;
    text-decoration: none;
    right: 0;
    background: url("../../images/gogo.png") no-repeat -22px -61px #000;
}
.go-top .dnd {
    position: absolute;
    left: -250px;
    top: -48px;
    width: 240px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, .1);
    background: #fff;
    border: 1px solid #e3e3e3;
    padding: 16px 11px;
}
.go-top .u-pop {
    position: absolute;
    left: -257px;
    top: 0;
    width: 243px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, .1);
    background: #fff;
    border: 1px solid #e3e3e3;
    padding: 16px 11px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;
}
.sidefix-state{
    bottom: 284px;
}

.search_open{
    width: 166px!important;
}

.foc-ewm {
    position: absolute;
    width: 116px;
    height: 116px;
    top: -132px;
    left: 39px;
    display: none;
    text-align: center;
    box-shadow: 0 0 1px #000;
    padding: 7px;
    border: 1px solid #dedede;
    background: #fff;
}
.foc-ewm .foc-ewm-arrow1 {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #dedede;
    position: absolute;
    bottom: -11px;
    left: 50%;
    margin-left: -10px;
}
.foc-ewm .foc-ewm-arrow2 {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    position: absolute;
    bottom: -8px;
    left: 50%;
    margin-left: -10px;
}

.div-nav .dropdown-list a:hover{
    background: #fff;
    color: #ffa800;
}
.div-nav .dropdown-list{
    min-width: 109px;
}

.banner-wrap .carousel-control.left{
    display: none;
}
.banner-wrap .carousel-control.right{
    display: none;
}
.banner-wrap .banner-bar:hover .carousel-control.left{
    display: block;
}
.banner-wrap .banner-bar:hover .carousel-control.right{
    display: block;
}